.CommonCalendar {
  //padding-bottom: 60px;
  height: calc(100% - 60px) !important;

  .dayBody {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    box-sizing: border-box;
  }

  .absentBlock {
    position: absolute;
    height: 50px;
    border-radius: 20px;
    width: calc(var(--percentage) - 30px);
    cursor: pointer;
    z-index: 2;
  }
}

.scrolled {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.listWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.calendarWrapper {
  width: calc(100% - 450px);
  height: 100%;
}

.studentsList {
  padding-top: 60px;
  position: relative;
  z-index: 5;
  min-width: 450px;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  transition: 0.2s all;
  box-sizing: border-box;
  //box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  .absentListEntry {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0 17px;

    .absentName {
    }

    .absentGroup {
    }
  }
}

.listHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 60px;
  font-size: 24px;
  color: var(--default-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px;
  z-index: 9;
  background-color: #fff;

  .inputWrapper {
    position: relative;
    height: fit-content;
    width: fit-content;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: var(--default-grey);
      bottom: 0;
      left: 0;
    }

    .searchField {
      width: 360px;
      background: none;
      color: var(--default-font-color);
      border: none;
      font-size: 20px;
      font-family: "Manrope", sans-serif;

      &:focus {
        border: none;
        outline: none;
      }
    }
  }

  .searchButton {
    width: 40px;
    height: 40px;
    background: url("../assets/svg/search.svg") center center no-repeat;
    border: none;
    cursor: pointer;
    transition: 0.2s all;

    &.closeButton {
      background: url("../assets/svg/close-search.svg") center center;
    }

    &:hover {
      filter: brightness(0.8);
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-color: var(--default-grey);
    bottom: 0;
    left: 0;
    width: 140%;
    height: 1px;
  }
}

.noSuchStudents {
  color: var(--default-grey);
  font-size: 32px;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exportAbsents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  background: #fff;
  padding: 17px 28px;
  border: none;
  color: var(--default-grey);
  font-size: 32px;
  font-family: "Manrope", sans-serif;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  &::before {
    content: "";
    display: block;
    width: 46px;
    height: 46px;
    background: url("../assets/svg/export.svg") center center no-repeat;
    margin-right: 18px;
  }
}

.absentBlock {
  &.absentAbruptEnd {
    border-radius: 20px 0 0 20px;
    width: calc(var(--percentage) - 15px);
  }

  &.absentAbruptStart {
    border-radius: 0 20px 20px 0;
    width: calc(var(--percentage) - 15px);
    translate: -15px 0;
  }

  &.absentAbrupt {
    border-radius: 0;
    width: calc(var(--percentage));
    translate: -15px 0;
  }
}
