:root {
  font-family: "Manrope", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: #f0f2f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --default-grey: #9d9d9d;
  --default-blue: #0060e6;
  --accepted-color: #71EB91;
  --rejected-color: #E59A9A;
  --pending-color: #EBEB71;
}

#root {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
}